@font-face {
  font-family: 'iconcolorido';
  src:  url('fonts/iconcolorido.eot?tucb0');
  src:  url('fonts/iconcolorido.eot?tucb0#iefix') format('embedded-opentype'),
    url('fonts/iconcolorido.ttf?tucb0') format('truetype'),
    url('fonts/iconcolorido.woff?tucb0') format('woff'),
    url('fonts/iconcolorido.svg?tucb0#iconcolorido') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="luna-"], [class*=" luna-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconcolorido' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.luna-1password:before {
  content: "\f47c";
  color: #0094f5;
}
.luna-500px2:before {
  content: "\f47d";
  color: #0099e5;
}
.luna-abbrobotstudio:before {
  content: "\f47e";
  color: #ff9e0f;
}
.luna-about-dot-me:before {
  content: "\e900";
  color: #00a98f;
}
.luna-abstract:before {
  content: "\f47f";
}
.luna-academia:before {
  content: "\f480";
}
.luna-accusoft:before {
  content: "\f481";
  color: #ff7e4a;
}
.luna-acm:before {
  content: "\f482";
  color: #0085ca;
}
.luna-addthis:before {
  content: "\f483";
  color: #ff6550;
}
.luna-adguard:before {
  content: "\f484";
  color: #66b574;
}
.luna-adobe:before {
  content: "\f485";
  color: #f00;
}
.luna-adobeacrobatreader:before {
  content: "\f486";
  color: #ee3f24;
}
.luna-adobeaftereffects:before {
  content: "\f487";
  color: #d291ff;
}
.luna-adobeaudition:before {
  content: "\e901";
  color: #00e4bb;
}
.luna-adobecreativecloud:before {
  content: "\f488";
  color: #d41818;
}
.luna-adobedreamweaver:before {
  content: "\f489";
  color: #35fa00;
}
.luna-adobeillustrator:before {
  content: "\f48a";
  color: #ff7c00;
}
.luna-adobeindesign:before {
  content: "\f48b";
  color: #fd3f93;
}
.luna-adobelightroomcc:before {
  content: "\f48c";
  color: #3df0f0;
}
.luna-adobelightroomclassic:before {
  content: "\f48d";
  color: #add5ec;
}
.luna-adobephotoshop:before {
  content: "\f48e";
  color: #00c8ff;
}
.luna-adobepremiere:before {
  content: "\f48f";
  color: #ea77ff;
}
.luna-adobetypekit:before {
  content: "\f490";
  color: #87ec00;
}
.luna-adobexd:before {
  content: "\f491";
  color: #ff2bc2;
}
.luna-airbnb:before {
  content: "\f492";
  color: #ff5a5f;
}
.luna-airplayaudio:before {
  content: "\f493";
}
.luna-airplayvideo:before {
  content: "\e902";
}
.luna-algolia:before {
  content: "\f494";
  color: #5468ff;
}
.luna-alliedmodders:before {
  content: "\f495";
  color: #1578d3;
}
.luna-amazon2:before {
  content: "\f496";
  color: #f90;
}
.luna-amazonalexa:before {
  content: "\f497";
  color: #00caff;
}
.luna-amazonaws:before {
  content: "\f498";
}
.luna-amd:before {
  content: "\f499";
  color: #ed1c24;
}
.luna-americanexpress:before {
  content: "\f49a";
  color: #2e77bc;
}
.luna-anaconda:before {
  content: "\f49b";
  color: #42b029;
}
.luna-analogue:before {
  content: "\f49c";
}
.luna-anchor3:before {
  content: "\f49d";
  color: #8940fa;
}
.luna-android4:before {
  content: "\f49e";
  color: #3ddc84;
}
.luna-angellist1:before {
  content: "\f49f";
}
.luna-angular:before {
  content: "\e903";
  color: #dd0031;
}
.luna-angularuniversal:before {
  content: "\f4a0";
  color: #00acc1;
}
.luna-ansible:before {
  content: "\f4a1";
  color: #e00;
}
.luna-apache:before {
  content: "\f4a2";
  color: #d22128;
}
.luna-apacheairflow:before {
  content: "\e904";
  color: #007a88;
}
.luna-apachecordova:before {
  content: "\f4a3";
  color: #e8e8e8;
}
.luna-apacheflink:before {
  content: "\f4a4";
  color: #e6526f;
}
.luna-apachekafka:before {
  content: "\e905";
}
.luna-apachenetbeanside:before {
  content: "\e906";
  color: #1b6ac6;
}
.luna-apacheopenoffice:before {
  content: "\e907";
  color: #0e85cd;
}
.luna-apacherocketmq:before {
  content: "\e908";
  color: #d77310;
}
.luna-apachespark:before {
  content: "\e909";
  color: #e25a1c;
}
.luna-apple1:before {
  content: "\f4a5";
  color: #999;
}
.luna-applemusic:before {
  content: "\f4a6";
}
.luna-applepay:before {
  content: "\f4a7";
}
.luna-applepodcasts:before {
  content: "\f4a8";
  color: #93c;
}
.luna-appveyor:before {
  content: "\f4a9";
  color: #00b3e0;
}
.luna-aral:before {
  content: "\f4aa";
  color: #0063cb;
}
.luna-archiveofourown:before {
  content: "\f4ab";
  color: #900;
}
.luna-archlinux:before {
  content: "\f4ac";
  color: #1793d1;
}
.luna-arduino:before {
  content: "\e90a";
  color: #00979d;
}
.luna-artstation:before {
  content: "\f4ad";
  color: #13aff0;
}
.luna-arxiv:before {
  content: "\e90b";
  color: #b31b1b;
}
.luna-asana:before {
  content: "\e90c";
}
.luna-asciidoctor:before {
  content: "\e90d";
  color: #e40046;
}
.luna-at-and-t:before {
  content: "\f4ae";
  color: #00a8e0;
}
.luna-atlassian:before {
  content: "\f4af";
  color: #0052cc;
}
.luna-atom1:before {
  content: "\f4b0";
  color: #66595c;
}
.luna-audi:before {
  content: "\f4b1";
  color: #bb0a30;
}
.luna-audible:before {
  content: "\f4b2";
  color: #f8991c;
}
.luna-aurelia:before {
  content: "\f4b3";
  color: #ed2b88;
}
.luna-auth0:before {
  content: "\f4b4";
  color: #eb5424;
}
.luna-automatic:before {
  content: "\f4b5";
  color: #7d8084;
}
.luna-autotask:before {
  content: "\e90e";
  color: #e51937;
}
.luna-aventrix:before {
  content: "\e90f";
  color: #09d;
}
.luna-awesomewm:before {
  content: "\e910";
  color: #535d6c;
}
.luna-azureartifacts:before {
  content: "\e911";
  color: #cb2e6d;
}
.luna-azuredevops:before {
  content: "\e912";
  color: #0078d7;
}
.luna-azurepipelines:before {
  content: "\f4b6";
  color: #2560e0;
}
.luna-babel:before {
  content: "\f4b7";
  color: #f9dc3e;
}
.luna-baidu:before {
  content: "\f4b8";
  color: #2319dc;
}
.luna-bamboo:before {
  content: "\f4b9";
  color: #0052cc;
}
.luna-bancontact:before {
  content: "\f4ba";
  color: #005498;
}
.luna-bandcamp1:before {
  content: "\f4bb";
  color: #408294;
}
.luna-bandlab:before {
  content: "\f4bc";
  color: #dc3710;
}
.luna-basecamp1:before {
  content: "\f4bd";
  color: #5ecc62;
}
.luna-bathasu:before {
  content: "\e913";
  color: #00a3e0;
}
.luna-beats:before {
  content: "\e914";
  color: #005571;
}
.luna-beatsbydre:before {
  content: "\e915";
  color: #e01f3d;
}
.luna-behance:before {
  content: "\e916";
  color: #1769ff;
}
.luna-bigcartel:before {
  content: "\e917";
}
.luna-bing:before {
  content: "\f4be";
  color: #008373;
}
.luna-bit:before {
  content: "\f4bf";
  color: #73398d;
}
.luna-bitbucket1:before {
  content: "\f4c0";
  color: #0052cc;
}
.luna-bitcoin1:before {
  content: "\f4c1";
  color: #f7931a;
}
.luna-bitdefender:before {
  content: "\f4c2";
  color: #ed1c24;
}
.luna-bitly:before {
  content: "\f4c3";
  color: #ee6123;
}
.luna-bitrise:before {
  content: "\f4c4";
  color: #683d87;
}
.luna-blackberry:before {
  content: "\f4c5";
}
.luna-blender:before {
  content: "\f4c6";
  color: #f5792a;
}
.luna-blogger1:before {
  content: "\f4c7";
  color: #ff5722;
}
.luna-bmcsoftware:before {
  content: "\f4c8";
  color: #fe5000;
}
.luna-boeing:before {
  content: "\f4c9";
  color: #1d439c;
}
.luna-boost:before {
  content: "\f4ca";
  color: #f69220;
}
.luna-bootstrap:before {
  content: "\f4cb";
  color: #563d7c;
}
.luna-bower:before {
  content: "\f4cc";
  color: #ef5734;
}
.luna-box2:before {
  content: "\f4cd";
  color: #0061d5;
}
.luna-brand-dot-ai:before {
  content: "\f4ce";
  color: #0aa0ff;
}
.luna-brandfolder:before {
  content: "\f4cf";
  color: #40d1f5;
}
.luna-brave:before {
  content: "\f4d0";
  color: #fb542b;
}
.luna-breaker:before {
  content: "\f4d1";
  color: #003dad;
}
.luna-broadcom:before {
  content: "\f4d2";
  color: #cc092f;
}
.luna-buddy:before {
  content: "\f4d3";
  color: #1a86fd;
}
.luna-buffer:before {
  content: "\f4d4";
  color: #168eea;
}
.luna-buymeacoffee:before {
  content: "\f4d5";
  color: #ff813f;
}
.luna-buzzfeed:before {
  content: "\f4d6";
  color: #e32;
}
.luna-c:before {
  content: "\f4d7";
  color: #a8b9cc;
}
.luna-cakephp:before {
  content: "\f4d8";
  color: #d33c43;
}
.luna-campaignmonitor:before {
  content: "\f4d9";
  color: #509cf6;
}
.luna-canva:before {
  content: "\f4da";
  color: #00c4cc;
}
.luna-cashapp:before {
  content: "\f4db";
  color: #00c244;
}
.luna-cassandra:before {
  content: "\f4dc";
  color: #1287b1;
}
.luna-castorama:before {
  content: "\f4dd";
  color: #0078d7;
}
.luna-castro:before {
  content: "\f4de";
  color: #00b265;
}
.luna-centos:before {
  content: "\f4df";
  color: #262577;
}
.luna-cevo:before {
  content: "\f4e0";
  color: #1eabe2;
}
.luna-chase:before {
  content: "\f4e1";
  color: #117aca;
}
.luna-chef:before {
  content: "\f4e2";
  color: #f09820;
}
.luna-circle3:before {
  content: "\f4e3";
  color: #8669ae;
}
.luna-circleci:before {
  content: "\f4e4";
}
.luna-cirrusci:before {
  content: "\f4e5";
}
.luna-cisco:before {
  content: "\e918";
  color: #1ba0d7;
}
.luna-civicrm:before {
  content: "\e919";
  color: #81c459;
}
.luna-clockify:before {
  content: "\e91a";
  color: #03a9f4;
}
.luna-clojure:before {
  content: "\e91b";
  color: #5881d8;
}
.luna-cloudbees:before {
  content: "\e91c";
  color: #1997b5;
}
.luna-cloudflare:before {
  content: "\e91d";
  color: #f38020;
}
.luna-cmake:before {
  content: "\e91e";
  color: #064f8c;
}
.luna-co-op:before {
  content: "\e91f";
  color: #00b1e7;
}
.luna-codacy:before {
  content: "\e920";
}
.luna-codecademy:before {
  content: "\e921";
  color: #1f4056;
}
.luna-codechef:before {
  content: "\e922";
  color: #5b4638;
}
.luna-codeclimate:before {
  content: "\e923";
}
.luna-codecov:before {
  content: "\e924";
  color: #f01f7a;
}
.luna-codefactor:before {
  content: "\e925";
  color: #f44a6a;
}
.luna-codeforces:before {
  content: "\e926";
  color: #1f8acb;
}
.luna-codeigniter:before {
  content: "\e927";
  color: #ee4623;
}
.luna-codepen:before {
  content: "\e928";
}
.luna-coderwall:before {
  content: "\e929";
  color: #3e8dcc;
}
.luna-codesandbox:before {
  content: "\e92a";
}
.luna-codeship:before {
  content: "\e92b";
  color: #3c4858;
}
.luna-codewars:before {
  content: "\e92c";
  color: #ad2c27;
}
.luna-codio:before {
  content: "\e92d";
  color: #4574e0;
}
.luna-coffeescript:before {
  content: "\e92e";
}
.luna-coinbase:before {
  content: "\e92f";
  color: #0667d0;
}
.luna-commonworkflowlanguage:before {
  content: "\e930";
  color: #b5314c;
}
.luna-composer:before {
  content: "\e931";
  color: #885630;
}
.luna-compropago:before {
  content: "\e932";
  color: #00aaef;
}
.luna-conda-forge:before {
  content: "\e933";
}
.luna-conekta:before {
  content: "\e934";
  color: #414959;
}
.luna-confluence:before {
  content: "\e935";
}
.luna-coronarenderer:before {
  content: "\e936";
  color: #e6502a;
}
.luna-coursera:before {
  content: "\e937";
  color: #2a73cc;
}
.luna-coveralls:before {
  content: "\e938";
  color: #3f5767;
}
.luna-cpanel:before {
  content: "\e939";
  color: #ff6c2c;
}
.luna-cplusplus:before {
  content: "\e93a";
  color: #00599c;
}
.luna-creativecommons:before {
  content: "\e93b";
  color: #ef9421;
}
.luna-crehana:before {
  content: "\e93c";
  color: #4b22f4;
}
.luna-crunchbase:before {
  content: "\e93d";
  color: #0288d1;
}
.luna-crunchyroll:before {
  content: "\e93e";
  color: #f47521;
}
.luna-cryengine:before {
  content: "\e93f";
}
.luna-csharp:before {
  content: "\e940";
  color: #239120;
}
.luna-css3:before {
  content: "\e941";
  color: #1572b6;
}
.luna-csswizardry:before {
  content: "\e942";
  color: #f43059;
}
.luna-curl:before {
  content: "\e943";
}
.luna-d3-dot-js:before {
  content: "\e944";
  color: #f9a03c;
}
.luna-dailymotion:before {
  content: "\e945";
  color: #0066dc;
}
.luna-dart:before {
  content: "\e946";
  color: #0175c2;
}
.luna-dashlane:before {
  content: "\e947";
  color: #007c97;
}
.luna-datacamp:before {
  content: "\e948";
  color: #3ac;
}
.luna-dazn:before {
  content: "\e949";
  color: #f8f8f5;
}
.luna-dblp:before {
  content: "\e94a";
  color: #004f9f;
}
.luna-debian:before {
  content: "\e94b";
  color: #a81d33;
}
.luna-deepin:before {
  content: "\e94c";
  color: #007cff;
}
.luna-deezer:before {
  content: "\e94d";
  color: #feaa2d;
}
.luna-delicious:before {
  content: "\e94e";
  color: #39f;
}
.luna-deliveroo:before {
  content: "\e94f";
  color: #00ccbc;
}
.luna-dell:before {
  content: "\e950";
  color: #007db8;
}
.luna-deno:before {
  content: "\e951";
}
.luna-dependabot:before {
  content: "\e952";
  color: #025e8c;
}
.luna-designernews:before {
  content: "\e953";
  color: #2d72d9;
}
.luna-dev-dot-to:before {
  content: "\e954";
}
.luna-deviantart:before {
  content: "\e955";
  color: #05cc47;
}
.luna-devrant:before {
  content: "\e956";
  color: #f99a66;
}
.luna-diaspora:before {
  content: "\e957";
}
.luna-digg:before {
  content: "\e958";
}
.luna-digitalocean:before {
  content: "\e959";
  color: #0080ff;
}
.luna-directus:before {
  content: "\e95a";
}
.luna-discord:before {
  content: "\e95b";
  color: #7289da;
}
.luna-discourse:before {
  content: "\e95c";
}
.luna-discover:before {
  content: "\e95d";
  color: #ff6000;
}
.luna-disqus:before {
  content: "\e95e";
  color: #2e9fff;
}
.luna-disroot:before {
  content: "\e95f";
  color: #50162d;
}
.luna-django:before {
  content: "\e960";
}
.luna-dlna:before {
  content: "\e961";
  color: #48a842;
}
.luna-docker:before {
  content: "\e962";
  color: #1488c6;
}
.luna-docusign:before {
  content: "\e963";
  color: #fc2;
}
.luna-dolby:before {
  content: "\e964";
}
.luna-dot-net:before {
  content: "\e965";
  color: #5c2d91;
}
.luna-draugiem-dot-lv:before {
  content: "\f4e6";
  color: #f60;
}
.luna-dribbble2:before {
  content: "\f4e7";
  color: #ea4c89;
}
.luna-drone:before {
  content: "\f4e8";
}
.luna-dropbox2:before {
  content: "\f4e9";
  color: #0061ff;
}
.luna-drupal1:before {
  content: "\f4ea";
  color: #0678be;
}
.luna-dtube:before {
  content: "\f4eb";
  color: #f00;
}
.luna-duckduckgo:before {
  content: "\f4ec";
  color: #de5833;
}
.luna-dunked:before {
  content: "\f4ed";
  color: #2da9d7;
}
.luna-duolingo:before {
  content: "\f4ee";
  color: #58cc02;
}
.luna-dynatrace:before {
  content: "\f4ef";
  color: #1496ff;
}
.luna-ebay:before {
  content: "\f4f0";
  color: #e53238;
}
.luna-eclipseide:before {
  content: "\f4f1";
  color: #2c2255;
}
.luna-elastic:before {
  content: "\f4f2";
  color: #005571;
}
.luna-elasticcloud:before {
  content: "\f4f3";
  color: #005571;
}
.luna-elasticsearch:before {
  content: "\f4f4";
  color: #005571;
}
.luna-elasticstack:before {
  content: "\f4f5";
  color: #005571;
}
.luna-electron:before {
  content: "\f4f6";
  color: #47848f;
}
.luna-elementary:before {
  content: "\f4f7";
  color: #64baff;
}
.luna-eleventy:before {
  content: "\f4f8";
}
.luna-ello1:before {
  content: "\f4f9";
}
.luna-elsevier:before {
  content: "\f4fa";
  color: #ff6c00;
}
.luna-ember-dot-js:before {
  content: "\f4fb";
  color: #e04e39;
}
.luna-emlakjet:before {
  content: "\f4fc";
  color: #0ae524;
}
.luna-empirekred:before {
  content: "\f4fd";
  color: #72be50;
}
.luna-envato:before {
  content: "\f4fe";
  color: #81b441;
}
.luna-epel:before {
  content: "\f4ff";
  color: #fc0000;
}
.luna-epicgames:before {
  content: "\f500";
}
.luna-epson:before {
  content: "\f501";
  color: #039;
}
.luna-esea:before {
  content: "\f502";
  color: #0e9648;
}
.luna-eslint:before {
  content: "\f503";
  color: #4b32c3;
}
.luna-ethereum:before {
  content: "\f504";
}
.luna-etsy1:before {
  content: "\f505";
  color: #f16521;
}
.luna-eventbrite:before {
  content: "\f506";
  color: #f05537;
}
.luna-eventstore:before {
  content: "\f507";
  color: #5ab552;
}
.luna-evernote:before {
  content: "\f508";
  color: #00a82d;
}
.luna-everplaces:before {
  content: "\f509";
  color: #fa4b32;
}
.luna-evry:before {
  content: "\f50a";
  color: #063a54;
}
.luna-exercism:before {
  content: "\f50b";
  color: #009cab;
}
.luna-expertsexchange:before {
  content: "\f50c";
  color: #00aae7;
}
.luna-expo:before {
  content: "\f50d";
}
.luna-eyeem:before {
  content: "\f50e";
}
.luna-f-droid:before {
  content: "\f50f";
  color: #1976d2;
}
.luna-f-secure:before {
  content: "\f510";
  color: #00baff;
}
.luna-facebook4:before {
  content: "\f511";
  color: #1877f2;
}
.luna-faceit:before {
  content: "\f512";
  color: #f50;
}
.luna-fandango:before {
  content: "\f513";
  color: #ff7300;
}
.luna-favro:before {
  content: "\f514";
  color: #512da8;
}
.luna-feathub:before {
  content: "\f515";
  color: #9b9b9b;
}
.luna-fedora:before {
  content: "\f516";
  color: #294172;
}
.luna-feedly:before {
  content: "\f517";
  color: #2bb24c;
}
.luna-fidoalliance:before {
  content: "\f518";
  color: #ffbf3b;
}
.luna-figma:before {
  content: "\f519";
  color: #f24e1e;
}
.luna-filezilla:before {
  content: "\f51a";
  color: #bf0000;
}
.luna-firebase:before {
  content: "\f51b";
  color: #ffca28;
}
.luna-fitbit:before {
  content: "\f51c";
  color: #00b0b9;
}
.luna-fiverr:before {
  content: "\f51d";
  color: #1dbf73;
}
.luna-flask1:before {
  content: "\f51e";
}
.luna-flattr1:before {
  content: "\f51f";
}
.luna-flickr5:before {
  content: "\f520";
  color: #0063dc;
}
.luna-flipboard:before {
  content: "\f521";
  color: #e12828;
}
.luna-floatplane:before {
  content: "\f522";
  color: #00aeef;
}
.luna-flutter:before {
  content: "\f523";
  color: #02569b;
}
.luna-fnac:before {
  content: "\f524";
  color: #e1a925;
}
.luna-formstack:before {
  content: "\f525";
  color: #21b573;
}
.luna-fossa:before {
  content: "\f526";
  color: #90a1b8;
}
.luna-fossilscm:before {
  content: "\f527";
  color: #548294;
}
.luna-foursquare2:before {
  content: "\f528";
  color: #f94877;
}
.luna-framer:before {
  content: "\f529";
  color: #05f;
}
.luna-freebsd:before {
  content: "\f52a";
  color: #ab2b28;
}
.luna-freecodecamp:before {
  content: "\f52b";
  color: #006400;
}
.luna-fujifilm:before {
  content: "\f52c";
  color: #ed1a3a;
}
.luna-fujitsu:before {
  content: "\f52d";
  color: #f00;
}
.luna-furaffinity:before {
  content: "\f52e";
  color: #faaf3a;
}
.luna-furrynetwork:before {
  content: "\f52f";
  color: #2e75b4;
}
.luna-garmin:before {
  content: "\f530";
  color: #007cc3;
}
.luna-gatsby:before {
  content: "\f531";
  color: #639;
}
.luna-gauges:before {
  content: "\f532";
  color: #2fa66a;
}
.luna-genius:before {
  content: "\f533";
  color: #ffff64;
}
.luna-gentoo:before {
  content: "\f534";
  color: #54487a;
}
.luna-geocaching:before {
  content: "\f535";
  color: #00874d;
}
.luna-gerrit:before {
  content: "\f536";
  color: #eee;
}
.luna-ghost:before {
  content: "\f537";
  color: #738a94;
}
.luna-gimp:before {
  content: "\f538";
  color: #5c5543;
}
.luna-git2:before {
  content: "\f539";
  color: #f05032;
}
.luna-gitea:before {
  content: "\f53a";
  color: #609926;
}
.luna-github2:before {
  content: "\f53b";
}
.luna-gitlab1:before {
  content: "\f53c";
  color: #fca121;
}
.luna-gitpod:before {
  content: "\f53d";
  color: #1aa6e4;
}
.luna-gitter:before {
  content: "\f53e";
  color: #ed1965;
}
.luna-glassdoor:before {
  content: "\f53f";
  color: #0caa41;
}
.luna-glitch:before {
  content: "\f540";
  color: #33f;
}
.luna-gmail:before {
  content: "\f541";
  color: #d14836;
}
.luna-gnome:before {
  content: "\f542";
  color: #4a86cf;
}
.luna-gnu:before {
  content: "\f543";
  color: #a42e2b;
}
.luna-gnuicecat:before {
  content: "\f544";
  color: #002f5b;
}
.luna-gnuprivacyguard:before {
  content: "\f545";
  color: #0093dd;
}
.luna-gnusocial:before {
  content: "\f546";
  color: #a22430;
}
.luna-go:before {
  content: "\f547";
  color: #00add8;
}
.luna-godotengine:before {
  content: "\f548";
  color: #478cbf;
}
.luna-gog-dot-com:before {
  content: "\f549";
  color: #86328a;
}
.luna-goldenline:before {
  content: "\f54a";
  color: #f1b92b;
}
.luna-goodreads:before {
  content: "\f54b";
  color: #630;
}
.luna-google4:before {
  content: "\f54c";
  color: #4285f4;
}
.luna-googleads:before {
  content: "\f54d";
  color: #4285f4;
}
.luna-googleanalytics:before {
  content: "\f54e";
  color: #ffc107;
}
.luna-googlechrome:before {
  content: "\f54f";
  color: #4285f4;
}
.luna-googlecloud:before {
  content: "\f550";
  color: #4285f4;
}
.luna-googledrive:before {
  content: "\f551";
  color: #4285f4;
}
.luna-googlehangouts:before {
  content: "\f552";
  color: #0c9d58;
}
.luna-googlehangoutschat:before {
  content: "\f553";
  color: #00897b;
}
.luna-googlekeep:before {
  content: "\f554";
  color: #fb0;
}
.luna-googlepay:before {
  content: "\f555";
  color: #5f6368;
}
.luna-googleplay:before {
  content: "\f556";
  color: #607d8b;
}
.luna-googlepodcasts:before {
  content: "\f557";
  color: #4285f4;
}
.luna-googlescholar:before {
  content: "\f558";
  color: #4885ed;
}
.luna-googlesearchconsole:before {
  content: "\f559";
  color: #458cf5;
}
.luna-gov-dot-uk:before {
  content: "\f55a";
  color: #005ea5;
}
.luna-gradle:before {
  content: "\f55b";
}
.luna-grafana:before {
  content: "\f55c";
  color: #f46800;
}
.luna-graphcool:before {
  content: "\f55d";
  color: #27ae60;
}
.luna-graphql:before {
  content: "\f55e";
  color: #e10098;
}
.luna-grav1:before {
  content: "\f55f";
}
.luna-gravatar:before {
  content: "\f560";
  color: #1e8cbe;
}
.luna-greenkeeper:before {
  content: "\f561";
  color: #00c775;
}
.luna-greensock:before {
  content: "\f562";
  color: #88ce02;
}
.luna-groovy:before {
  content: "\f563";
  color: #4298b8;
}
.luna-groupon:before {
  content: "\f564";
  color: #53a318;
}
.luna-gulp:before {
  content: "\f565";
  color: #da4648;
}
.luna-gumroad:before {
  content: "\f566";
  color: #36a9ae;
}
.luna-gumtree:before {
  content: "\f567";
  color: #72ef36;
}
.luna-gutenberg:before {
  content: "\f568";
}
.luna-habr:before {
  content: "\f569";
  color: #77a2b6;
}
.luna-hackaday:before {
  content: "\f56a";
}
.luna-hackerearth:before {
  content: "\f56b";
  color: #323754;
}
.luna-hackerone:before {
  content: "\f56c";
  color: #494649;
}
.luna-hackerrank:before {
  content: "\f56d";
  color: #2ec866;
}
.luna-hackhands:before {
  content: "\f56e";
  color: #00acbd;
}
.luna-hackster:before {
  content: "\f56f";
  color: #1bacf7;
}
.luna-happycow:before {
  content: "\f570";
  color: #7c4ec4;
}
.luna-hashnode:before {
  content: "\f571";
  color: #2962ff;
}
.luna-haskell:before {
  content: "\f572";
  color: #5d4f85;
}
.luna-hatenabookmark:before {
  content: "\f573";
  color: #00a4de;
}
.luna-haxe:before {
  content: "\f574";
  color: #ea8220;
}
.luna-helm:before {
  content: "\f575";
  color: #277a9f;
}
.luna-here:before {
  content: "\f576";
  color: #48dad0;
}
.luna-heroku:before {
  content: "\f577";
  color: #430098;
}
.luna-hexo:before {
  content: "\f578";
  color: #0e83cd;
}
.luna-highly:before {
  content: "\f579";
  color: #ff3c00;
}
.luna-hipchat:before {
  content: "\f57a";
  color: #0052cc;
}
.luna-hitachi:before {
  content: "\f57b";
  color: #e60027;
}
.luna-hockeyapp:before {
  content: "\f57c";
  color: #009ee1;
}
.luna-homeassistant:before {
  content: "\f57d";
  color: #41bdf5;
}
.luna-homify:before {
  content: "\f57e";
  color: #7dcda3;
}
.luna-hootsuite:before {
  content: "\f57f";
}
.luna-houzz1:before {
  content: "\f580";
  color: #4dbc15;
}
.luna-hp:before {
  content: "\f581";
  color: #0096d6;
}
.luna-html51:before {
  content: "\f582";
  color: #e34f26;
}
.luna-htmlacademy:before {
  content: "\f583";
  color: #302683;
}
.luna-huawei:before {
  content: "\f584";
  color: #f00;
}
.luna-hubspot:before {
  content: "\f585";
  color: #ff7a59;
}
.luna-hulu:before {
  content: "\f586";
  color: #3dbb3d;
}
.luna-humblebundle:before {
  content: "\f587";
  color: #cc2929;
}
.luna-hurriyetemlak:before {
  content: "\f588";
  color: #e02826;
}
.luna-hypothesis:before {
  content: "\f589";
  color: #bd1c2b;
}
.luna-iata:before {
  content: "\f58a";
  color: #004e81;
}
.luna-ibm:before {
  content: "\f58b";
  color: #054ada;
}
.luna-icloud:before {
  content: "\f58c";
  color: #3693f3;
}
.luna-icomoon:before {
  content: "\f58d";
  color: #825794;
}
.luna-icon:before {
  content: "\f58e";
  color: #31b8bb;
}
.luna-iconjar:before {
  content: "\f58f";
  color: #16a5f3;
}
.luna-icq:before {
  content: "\f590";
  color: #7ebd00;
}
.luna-ideal:before {
  content: "\f591";
  color: #c06;
}
.luna-ifixit:before {
  content: "\f592";
  color: #0071ce;
}
.luna-imdb1:before {
  content: "\f593";
  color: #e6b91e;
}
.luna-imgur:before {
  content: "\f594";
  color: #1bb76e;
}
.luna-indeed:before {
  content: "\f595";
  color: #2164f3;
}
.luna-influxdb:before {
  content: "\f596";
  color: #22adf6;
}
.luna-inkscape:before {
  content: "\f597";
}
.luna-instacart:before {
  content: "\f598";
  color: #43b02a;
}
.luna-instagram2:before {
  content: "\f599";
  color: #e4405f;
}
.luna-instapaper:before {
  content: "\f59a";
}
.luna-intel:before {
  content: "\f59b";
  color: #0071c5;
}
.luna-intellijidea:before {
  content: "\f59c";
}
.luna-intercom:before {
  content: "\f59d";
  color: #1f8ded;
}
.luna-internetarchive:before {
  content: "\f59e";
}
.luna-internetexplorer:before {
  content: "\f59f";
  color: #0076d6;
}
.luna-invision:before {
  content: "\f5a0";
  color: #f36;
}
.luna-invoiceninja:before {
  content: "\f5a1";
}
.luna-ionic:before {
  content: "\f5a2";
  color: #3880ff;
}
.luna-ios:before {
  content: "\f5a3";
}
.luna-ipfs:before {
  content: "\f5a4";
  color: #65c2cb;
}
.luna-issuu:before {
  content: "\f5a5";
  color: #f36d5d;
}
.luna-itch-dot-io:before {
  content: "\f5a6";
  color: #fa5c5c;
}
.luna-itunes:before {
  content: "\f5a7";
  color: #fb5bc5;
}
.luna-jabber:before {
  content: "\f5a8";
  color: #c00;
}
.luna-java:before {
  content: "\f5a9";
  color: #007396;
}
.luna-javascript:before {
  content: "\f5aa";
  color: #f7df1e;
}
.luna-jekyll:before {
  content: "\f5ab";
  color: #c00;
}
.luna-jenkins:before {
  content: "\f5ac";
  color: #d24939;
}
.luna-jest:before {
  content: "\f5ad";
  color: #c21325;
}
.luna-jet:before {
  content: "\f5ae";
  color: #fbba00;
}
.luna-jetbrains:before {
  content: "\f5af";
}
.luna-jinja:before {
  content: "\f5b0";
  color: #b41717;
}
.luna-jira:before {
  content: "\f5b1";
}
.luna-joomla2:before {
  content: "\f5b2";
  color: #5091cd;
}
.luna-jquery:before {
  content: "\f5b3";
  color: #0769ad;
}
.luna-jsdelivr:before {
  content: "\f5b4";
  color: #e84d3d;
}
.luna-jsfiddle1:before {
  content: "\f5b5";
  color: #4679a4;
}
.luna-json:before {
  content: "\f5b6";
}
.luna-jupyter:before {
  content: "\f5b7";
  color: #f37626;
}
.luna-justgiving:before {
  content: "\f5b8";
  color: #ad29b6;
}
.luna-kaggle:before {
  content: "\f5b9";
  color: #20beff;
}
.luna-kaios:before {
  content: "\f5ba";
  color: #6f02b5;
}
.luna-kaspersky:before {
  content: "\f5bb";
  color: #009982;
}
.luna-kentico:before {
  content: "\f5bc";
  color: #f05a22;
}
.luna-keras:before {
  content: "\f5bd";
  color: #d00000;
}
.luna-keybase:before {
  content: "\f5be";
  color: #33a0ff;
}
.luna-keycdn:before {
  content: "\f5bf";
  color: #3686be;
}
.luna-khanacademy:before {
  content: "\f5c0";
  color: #14bf96;
}
.luna-kibana:before {
  content: "\f5c1";
  color: #005571;
}
.luna-kickstarter:before {
  content: "\f5c2";
  color: #2bde73;
}
.luna-kik:before {
  content: "\f5c3";
  color: #82bc23;
}
.luna-kirby:before {
  content: "\f5c4";
  color: #ff0100;
}
.luna-klout:before {
  content: "\f5c5";
  color: #e44600;
}
.luna-known:before {
  content: "\f5c6";
}
.luna-ko-fi:before {
  content: "\f5c7";
  color: #f16061;
}
.luna-kodi:before {
  content: "\f5c8";
  color: #17b2e7;
}
.luna-koding:before {
  content: "\f5c9";
  color: #00b057;
}
.luna-kotlin:before {
  content: "\f5ca";
  color: #0095d5;
}
.luna-krita:before {
  content: "\f5cb";
  color: #3babff;
}
.luna-kubernetes:before {
  content: "\f5cc";
  color: #326ce5;
}
.luna-laravel:before {
  content: "\f5cd";
  color: #ff2d20;
}
.luna-laravelhorizon:before {
  content: "\f5ce";
  color: #405263;
}
.luna-laravelnova:before {
  content: "\f5cf";
}
.luna-last-dot-fm:before {
  content: "\f5d0";
  color: #d51007;
}
.luna-lastpass:before {
  content: "\f5d1";
  color: #d32d27;
}
.luna-latex:before {
  content: "\f5d2";
  color: #008080;
}
.luna-launchpad:before {
  content: "\f5d3";
  color: #f8c300;
}
.luna-leetcode:before {
  content: "\f5d4";
  color: #f89f1b;
}
.luna-lenovo:before {
  content: "\f5d5";
  color: #e2231a;
}
.luna-letsencrypt:before {
  content: "\f5d6";
  color: #003a70;
}
.luna-letterboxd:before {
  content: "\f5d7";
  color: #00d735;
}
.luna-lgtm:before {
  content: "\f5d8";
  color: #fff;
}
.luna-liberapay:before {
  content: "\f5d9";
  color: #f6c915;
}
.luna-librarything:before {
  content: "\f5da";
}
.luna-libreoffice1:before {
  content: "\f5db";
  color: #18a303;
}
.luna-line:before {
  content: "\f5dc";
  color: #00c300;
}
.luna-linewebtoon:before {
  content: "\f5dd";
  color: #00d564;
}
.luna-linkedin3:before {
  content: "\f5de";
  color: #0077b5;
}
.luna-linode1:before {
  content: "\f5df";
  color: #00a95c;
}
.luna-linux1:before {
  content: "\f5e0";
  color: #fcc624;
}
.luna-linuxfoundation:before {
  content: "\f5e1";
  color: #009bee;
}
.luna-linuxmint:before {
  content: "\f5e2";
  color: #87cf3e;
}
.luna-livejournal:before {
  content: "\f5e3";
  color: #00b0ea;
}
.luna-livestream:before {
  content: "\f5e4";
  color: #cf202e;
}
.luna-llvm:before {
  content: "\f5e5";
}
.luna-logstash:before {
  content: "\f5e6";
  color: #005571;
}
.luna-loop4:before {
  content: "\f5e7";
  color: #f29400;
}
.luna-lua:before {
  content: "\f5e8";
  color: #2c2d72;
}
.luna-lufthansa:before {
  content: "\f5e9";
  color: #05164d;
}
.luna-lumen:before {
  content: "\f5ea";
  color: #e74430;
}
.luna-lyft:before {
  content: "\f5eb";
  color: #ff00bf;
}
.luna-macys:before {
  content: "\f5ec";
  color: #e21a2c;
}
.luna-magento:before {
  content: "\f5ed";
  color: #ee672f;
}
.luna-magisk:before {
  content: "\f5ee";
  color: #00af9c;
}
.luna-mail-dot-ru:before {
  content: "\f5ef";
  color: #168de2;
}
.luna-mailchimp:before {
  content: "\f5f0";
  color: #ffe01b;
}
.luna-makerbot:before {
  content: "\f5f1";
  color: #ff1e0d;
}
.luna-manageiq:before {
  content: "\f5f2";
  color: #ef2929;
}
.luna-manjaro:before {
  content: "\f5f3";
  color: #35bf5c;
}
.luna-mapbox:before {
  content: "\f5f4";
}
.luna-markdown:before {
  content: "\f5f5";
}
.luna-marketo:before {
  content: "\f5f6";
  color: #5c4c9f;
}
.luna-mastercard:before {
  content: "\f5f7";
  color: #eb001b;
}
.luna-mastodon:before {
  content: "\f5f8";
  color: #3088d4;
}
.luna-materialdesign:before {
  content: "\f5f9";
  color: #757575;
}
.luna-mathworks:before {
  content: "\f5fa";
  color: #0076a8;
}
.luna-matrix:before {
  content: "\f5fb";
}
.luna-mattermost:before {
  content: "\f5fc";
  color: #0072c6;
}
.luna-matternet:before {
  content: "\f5fd";
}
.luna-mcafee:before {
  content: "\f5fe";
  color: #c01818;
}
.luna-mdnwebdocs:before {
  content: "\f5ff";
}
.luna-mediafire:before {
  content: "\f600";
  color: #1299f3;
}
.luna-mediatemple:before {
  content: "\f601";
}
.luna-medium1:before {
  content: "\f602";
}
.luna-meetup1:before {
  content: "\f603";
  color: #ed1c40;
}
.luna-mega:before {
  content: "\f604";
  color: #d9272e;
}
.luna-mendeley:before {
  content: "\f605";
  color: #9d1620;
}
.luna-mercedes:before {
  content: "\f606";
}
.luna-messenger:before {
  content: "\f607";
  color: #00b2ff;
}
.luna-meteor:before {
  content: "\f608";
  color: #de4f4f;
}
.luna-micro-dot-blog:before {
  content: "\f609";
  color: #fd8308;
}
.luna-microgenetics:before {
  content: "\f60a";
  color: #f00;
}
.luna-microsoft:before {
  content: "\f60b";
  color: #666;
}
.luna-microsoftaccess:before {
  content: "\f60c";
  color: #ba141a;
}
.luna-microsoftazure:before {
  content: "\f60d";
  color: #0089d6;
}
.luna-microsoftedge:before {
  content: "\f60e";
  color: #0078d7;
}
.luna-microsoftexcel:before {
  content: "\f60f";
  color: #217346;
}
.luna-microsoftoffice:before {
  content: "\f610";
  color: #e74025;
}
.luna-microsoftonedrive:before {
  content: "\f611";
  color: #094ab2;
}
.luna-microsoftonenote:before {
  content: "\f612";
  color: #80397b;
}
.luna-microsoftoutlook:before {
  content: "\f613";
  color: #0072c6;
}
.luna-microsoftpowerpoint:before {
  content: "\f614";
  color: #d24726;
}
.luna-microsoftteams:before {
  content: "\f615";
  color: #6264a7;
}
.luna-microsoftword:before {
  content: "\f616";
  color: #2b579a;
}
.luna-microstrategy:before {
  content: "\f617";
  color: #d9232e;
}
.luna-minds:before {
  content: "\f618";
  color: #fed12f;
}
.luna-minetest:before {
  content: "\f619";
  color: #53ac56;
}
.luna-minutemailer:before {
  content: "\f61a";
  color: #3abfe6;
}
.luna-mix:before {
  content: "\f61b";
  color: #ff8126;
}
.luna-mixcloud1:before {
  content: "\f61c";
  color: #314359;
}
.luna-mixer:before {
  content: "\f61d";
  color: #002050;
}
.luna-mojang:before {
  content: "\f61e";
  color: #db1f29;
}
.luna-monero:before {
  content: "\f61f";
  color: #f60;
}
.luna-mongodb:before {
  content: "\f620";
  color: #47a248;
}
.luna-monkeytie:before {
  content: "\f621";
  color: #ffc619;
}
.luna-monogram:before {
  content: "\f622";
  color: #fdb22a;
}
.luna-monster:before {
  content: "\f623";
  color: #6e46ae;
}
.luna-monzo:before {
  content: "\f624";
}
.luna-moo:before {
  content: "\f625";
  color: #00945e;
}
.luna-mozilla:before {
  content: "\f626";
}
.luna-mozillafirefox:before {
  content: "\f627";
  color: #ff7139;
}
.luna-musescore:before {
  content: "\f628";
  color: #1a70b8;
}
.luna-mxlinux:before {
  content: "\f629";
}
.luna-myspace:before {
  content: "\f62a";
}
.luna-mysql:before {
  content: "\f62b";
  color: #4479a1;
}
.luna-nativescript:before {
  content: "\f62c";
  color: #3655ff;
}
.luna-nec:before {
  content: "\f62d";
  color: #1414a0;
}
.luna-neo4j:before {
  content: "\f62e";
  color: #008cc1;
}
.luna-netflix:before {
  content: "\f62f";
  color: #e50914;
}
.luna-netlify:before {
  content: "\f630";
  color: #00c7b7;
}
.luna-next-dot-js:before {
  content: "\f631";
}
.luna-nextcloud:before {
  content: "\f632";
  color: #0082c9;
}
.luna-nextdoor:before {
  content: "\f633";
  color: #00b246;
}
.luna-nginx:before {
  content: "\f634";
  color: #269539;
}
.luna-nim:before {
  content: "\f635";
  color: #ffe953;
}
.luna-nintendo:before {
  content: "\f636";
  color: #8f8f8f;
}
.luna-nintendo3ds:before {
  content: "\f637";
  color: #d12228;
}
.luna-nintendogamecube:before {
  content: "\f638";
  color: #6a5fbb;
}
.luna-nintendoswitch:before {
  content: "\f639";
  color: #e60012;
}
.luna-node-dot-js:before {
  content: "\f63a";
  color: #393;
}
.luna-node-red:before {
  content: "\f63b";
  color: #8f0000;
}
.luna-nodemon:before {
  content: "\f63c";
  color: #76d04b;
}
.luna-nokia:before {
  content: "\f63d";
  color: #124191;
}
.luna-notion:before {
  content: "\f63e";
}
.luna-notist:before {
  content: "\f63f";
}
.luna-npm1:before {
  content: "\f640";
  color: #cb3837;
}
.luna-nucleo:before {
  content: "\f641";
  color: #766dcc;
}
.luna-nuget:before {
  content: "\f642";
  color: #004880;
}
.luna-nutanix:before {
  content: "\f643";
  color: #024da1;
}
.luna-nuxt-dot-js:before {
  content: "\f644";
  color: #00c58e;
}
.luna-nvidia:before {
  content: "\f645";
  color: #76b900;
}
.luna-obsstudio:before {
  content: "\f646";
}
.luna-ocaml:before {
  content: "\f647";
  color: #ec6813;
}
.luna-octave:before {
  content: "\f648";
  color: #0790c0;
}
.luna-octopusdeploy:before {
  content: "\f649";
  color: #2f93e0;
}
.luna-oculus:before {
  content: "\f64a";
}
.luna-odnoklassniki1:before {
  content: "\f64b";
  color: #f4731c;
}
.luna-openaccess:before {
  content: "\f64c";
  color: #f68212;
}
.luna-openapiinitiative:before {
  content: "\f64d";
  color: #6ba539;
}
.luna-opencollective:before {
  content: "\f64e";
  color: #7fadf2;
}
.luna-openid1:before {
  content: "\f64f";
  color: #f78c40;
}
.luna-opensourceinitiative:before {
  content: "\f650";
  color: #3da639;
}
.luna-openssl:before {
  content: "\f651";
  color: #721412;
}
.luna-openstreetmap:before {
  content: "\f652";
  color: #7ebc6f;
}
.luna-opensuse:before {
  content: "\f653";
  color: #73ba25;
}
.luna-openvpn:before {
  content: "\f654";
  color: #ea7e20;
}
.luna-opera2:before {
  content: "\f655";
  color: #ff1b2d;
}
.luna-opsgenie:before {
  content: "\f656";
}
.luna-oracle:before {
  content: "\f657";
  color: #f80000;
}
.luna-orcid:before {
  content: "\f658";
  color: #a6ce39;
}
.luna-origin:before {
  content: "\f659";
  color: #f56c2d;
}
.luna-osmc:before {
  content: "\f65a";
}
.luna-overcast:before {
  content: "\f65b";
  color: #fc7e0f;
}
.luna-overleaf:before {
  content: "\f65c";
  color: #47a141;
}
.luna-ovh:before {
  content: "\f65d";
  color: #123f6d;
}
.luna-pagekit:before {
  content: "\f65e";
}
.luna-palantir:before {
  content: "\f65f";
}
.luna-paloaltosoftware:before {
  content: "\f660";
  color: #83da77;
}
.luna-pandora:before {
  content: "\f661";
  color: #005483;
}
.luna-pantheon:before {
  content: "\f662";
  color: #efd01b;
}
.luna-parse-dot-ly:before {
  content: "\f663";
  color: #5ba745;
}
.luna-pastebin:before {
  content: "\f664";
  color: #02456c;
}
.luna-patreon:before {
  content: "\f665";
  color: #f96854;
}
.luna-paypal2:before {
  content: "\f666";
  color: #00457c;
}
.luna-peertube:before {
  content: "\f667";
  color: #f1680d;
}
.luna-periscope:before {
  content: "\f668";
  color: #40a4c4;
}
.luna-php:before {
  content: "\f669";
  color: #777bb4;
}
.luna-pi-hole:before {
  content: "\f66a";
  color: #f60d1a;
}
.luna-picarto-dot-tv:before {
  content: "\f66b";
  color: #1da456;
}
.luna-pinboard:before {
  content: "\f66c";
  color: #00f;
}
.luna-pingdom:before {
  content: "\f66d";
  color: #fff000;
}
.luna-pingup:before {
  content: "\f66e";
  color: #00b1ab;
}
.luna-pinterest3:before {
  content: "\f66f";
  color: #bd081c;
}
.luna-pivotaltracker:before {
  content: "\f670";
  color: #517a9e;
}
.luna-pjsip:before {
  content: "\f671";
  color: #f86001;
}
.luna-plangrid:before {
  content: "\f672";
  color: #0085de;
}
.luna-player-dot-me:before {
  content: "\f673";
  color: #c0379a;
}
.luna-playerfm:before {
  content: "\f674";
  color: #c8122a;
}
.luna-playstation:before {
  content: "\f675";
  color: #003791;
}
.luna-playstation3:before {
  content: "\f676";
  color: #003791;
}
.luna-playstation4:before {
  content: "\f677";
  color: #003791;
}
.luna-plesk:before {
  content: "\f678";
  color: #52bbe6;
}
.luna-plex:before {
  content: "\f679";
  color: #e5a00d;
}
.luna-pluralsight:before {
  content: "\f67a";
  color: #f15b2a;
}
.luna-plurk:before {
  content: "\f67b";
  color: #ff574d;
}
.luna-pocket:before {
  content: "\f67c";
  color: #ef3f56;
}
.luna-pocketcasts:before {
  content: "\f67d";
  color: #f43e37;
}
.luna-postgresql:before {
  content: "\f67e";
  color: #336791;
}
.luna-postman:before {
  content: "\f67f";
  color: #ff6c37;
}
.luna-postwoman:before {
  content: "\f680";
  color: #50fa7b;
}
.luna-powershell:before {
  content: "\f681";
  color: #5391fe;
}
.luna-prestashop:before {
  content: "\f682";
  color: #df0067;
}
.luna-prettier:before {
  content: "\f683";
  color: #f7b93e;
}
.luna-prismic:before {
  content: "\f684";
  color: #484a7a;
}
.luna-probot:before {
  content: "\f685";
  color: #00b0d8;
}
.luna-processwire:before {
  content: "\f686";
  color: #ef145f;
}
.luna-producthunt:before {
  content: "\f687";
  color: #da552f;
}
.luna-prometheus:before {
  content: "\f688";
  color: #e6522c;
}
.luna-proto-dot-io:before {
  content: "\f689";
  color: #34a7c1;
}
.luna-protonmail:before {
  content: "\f68a";
  color: #8b89cc;
}
.luna-proxmox:before {
  content: "\f68b";
  color: #e57000;
}
.luna-publons:before {
  content: "\f68c";
  color: #369;
}
.luna-purescript:before {
  content: "\f68d";
}
.luna-pypi:before {
  content: "\f68e";
  color: #3775a9;
}
.luna-python:before {
  content: "\f68f";
  color: #3776ab;
}
.luna-pytorch:before {
  content: "\f690";
  color: #ee4c2c;
}
.luna-pyup:before {
  content: "\f691";
  color: #9f55ff;
}
.luna-qemu:before {
  content: "\f692";
  color: #f60;
}
.luna-qgis:before {
  content: "\f693";
  color: #589632;
}
.luna-qiita:before {
  content: "\f694";
  color: #55c500;
}
.luna-qualcomm:before {
  content: "\f695";
  color: #3253dc;
}
.luna-quantcast:before {
  content: "\f696";
}
.luna-quantopian:before {
  content: "\f697";
  color: #c50000;
}
.luna-quarkus:before {
  content: "\f698";
  color: #4695eb;
}
.luna-quicktime:before {
  content: "\f699";
  color: #1c69f0;
}
.luna-quip:before {
  content: "\f69a";
  color: #f27557;
}
.luna-quora1:before {
  content: "\f69b";
  color: #b92b27;
}
.luna-qwiklabs:before {
  content: "\f69c";
  color: #f5cd0e;
}
.luna-qzone:before {
  content: "\f69d";
  color: #fece00;
}
.luna-r:before {
  content: "\f69e";
  color: #276dc3;
}
.luna-rabbitmq:before {
  content: "\f69f";
  color: #f60;
}
.luna-radiopublic:before {
  content: "\f6a0";
  color: #ce262f;
}
.luna-rails:before {
  content: "\f6a1";
  color: #c00;
}
.luna-raspberrypi:before {
  content: "\f6a2";
  color: #c51a4a;
}
.luna-react:before {
  content: "\f6a3";
  color: #61dafb;
}
.luna-reactos:before {
  content: "\f6a4";
  color: #08c;
}
.luna-reactrouter:before {
  content: "\f6a5";
  color: #ca4245;
}
.luna-readthedocs:before {
  content: "\f6a6";
  color: #8ca1af;
}
.luna-realm:before {
  content: "\f6a7";
  color: #39477f;
}
.luna-reason:before {
  content: "\f6a8";
  color: #dd4b39;
}
.luna-reasonstudios:before {
  content: "\f6a9";
  color: #fff;
}
.luna-redbubble:before {
  content: "\f6aa";
  color: #e41321;
}
.luna-reddit2:before {
  content: "\f6ab";
  color: #ff4500;
}
.luna-redhat:before {
  content: "\f6ac";
  color: #e00;
}
.luna-redis:before {
  content: "\f6ad";
  color: #d82c20;
}
.luna-redux:before {
  content: "\f6ae";
  color: #764abc;
}
.luna-renren2:before {
  content: "\f6af";
  color: #217dc6;
}
.luna-repl-dot-it:before {
  content: "\f6b0";
  color: #667881;
}
.luna-researchgate:before {
  content: "\f6b1";
  color: #0cb;
}
.luna-reverbnation:before {
  content: "\f6b2";
  color: #e43526;
}
.luna-riot:before {
  content: "\f6b3";
  color: #368bd6;
}
.luna-ripple:before {
  content: "\f6b4";
  color: #0085c0;
}
.luna-riseup:before {
  content: "\f6b5";
  color: #5e9ee3;
}
.luna-rollup-dot-js:before {
  content: "\f6b6";
  color: #ec4a3f;
}
.luna-roots:before {
  content: "\f6b7";
  color: #525ddc;
}
.luna-roundcube:before {
  content: "\f6b8";
  color: #37beff;
}
.luna-rss3:before {
  content: "\f6b9";
  color: #ffa500;
}
.luna-rstudio:before {
  content: "\f6ba";
  color: #75aadb;
}
.luna-ruby:before {
  content: "\f6bb";
  color: #cc342d;
}
.luna-rubygems:before {
  content: "\f6bc";
  color: #e9573f;
}
.luna-runkeeper:before {
  content: "\f6bd";
  color: #2dc9d7;
}
.luna-rust:before {
  content: "\f6be";
}
.luna-safari2:before {
  content: "\f6bf";
}
.luna-sahibinden:before {
  content: "\f6c0";
  color: #ffe800;
}
.luna-salesforce:before {
  content: "\f6c1";
  color: #00a1e0;
}
.luna-saltstack:before {
  content: "\f6c2";
  color: #00eace;
}
.luna-samsung:before {
  content: "\f6c3";
  color: #1428a0;
}
.luna-samsungpay:before {
  content: "\f6c4";
  color: #1428a0;
}
.luna-sap:before {
  content: "\f6c5";
  color: #008fd3;
}
.luna-sass:before {
  content: "\f6c6";
  color: #c69;
}
.luna-saucelabs:before {
  content: "\f6c7";
  color: #e2231a;
}
.luna-scala:before {
  content: "\f6c8";
  color: #dc322f;
}
.luna-scaleway:before {
  content: "\f6c9";
  color: #4f0599;
}
.luna-scribd1:before {
  content: "\f6ca";
  color: #1a7bba;
}
.luna-scrutinizerci:before {
  content: "\f6cb";
  color: #8a9296;
}
.luna-seagate:before {
  content: "\f6cc";
  color: #72be4f;
}
.luna-sega:before {
  content: "\f6cd";
  color: #0089cf;
}
.luna-sellfy:before {
  content: "\f6ce";
  color: #21b352;
}
.luna-semaphoreci:before {
  content: "\f6cf";
  color: #19a974;
}
.luna-sensu:before {
  content: "\f6d0";
  color: #89c967;
}
.luna-sentry:before {
  content: "\f6d1";
  color: #fb4226;
}
.luna-serverfault:before {
  content: "\f6d2";
  color: #e7282d;
}
.luna-shazam:before {
  content: "\f6d3";
  color: #08f;
}
.luna-shell:before {
  content: "\f6d4";
  color: #ffd500;
}
.luna-shopify:before {
  content: "\f6d5";
  color: #7ab55c;
}
.luna-showpad:before {
  content: "\f6d6";
  color: #2d2e83;
}
.luna-siemens:before {
  content: "\f6d7";
  color: #099;
}
.luna-signal1:before {
  content: "\f6d8";
  color: #2592e9;
}
.luna-simpleicons:before {
  content: "\f6d9";
}
.luna-sinaweibo:before {
  content: "\f6da";
  color: #e6162d;
}
.luna-sitepoint:before {
  content: "\f6db";
  color: #258aaf;
}
.luna-sketch:before {
  content: "\f6dc";
  color: #f7b500;
}
.luna-skillshare:before {
  content: "\f6dd";
  color: #17c5cb;
}
.luna-skyliner:before {
  content: "\f6de";
  color: #2fcea0;
}
.luna-skype2:before {
  content: "\f6df";
  color: #00aff0;
}
.luna-slack1:before {
  content: "\f6e0";
  color: #4a154b;
}
.luna-slashdot:before {
  content: "\f6e1";
  color: #026664;
}
.luna-slickpic:before {
  content: "\f6e2";
  color: #ff880f;
}
.luna-slides:before {
  content: "\f6e3";
  color: #e4637c;
}
.luna-smashingmagazine:before {
  content: "\f6e4";
  color: #e85c33;
}
.luna-smugmug:before {
  content: "\f6e5";
  color: #6db944;
}
.luna-snapchat1:before {
  content: "\f6e6";
  color: #fffc00;
}
.luna-snapcraft:before {
  content: "\f6e7";
  color: #82bea0;
}
.luna-snyk:before {
  content: "\f6e8";
  color: #4c4a73;
}
.luna-society6:before {
  content: "\f6e9";
}
.luna-socket-dot-io:before {
  content: "\f6ea";
}
.luna-sogou:before {
  content: "\f6eb";
  color: #fb6022;
}
.luna-solus:before {
  content: "\f6ec";
  color: #5294e2;
}
.luna-sonarcloud:before {
  content: "\f6ed";
  color: #f3702a;
}
.luna-sonarlint:before {
  content: "\f6ee";
  color: #cc2026;
}
.luna-sonarqube:before {
  content: "\f6ef";
  color: #4e9bcd;
}
.luna-sonarsource:before {
  content: "\f6f0";
  color: #cb3032;
}
.luna-songkick:before {
  content: "\f6f1";
  color: #f80046;
}
.luna-sonicwall:before {
  content: "\f6f2";
  color: #f60;
}
.luna-sonos:before {
  content: "\f6f3";
}
.luna-soundcloud3:before {
  content: "\f6f4";
  color: #f30;
}
.luna-sourceengine:before {
  content: "\f6f5";
  color: #f79a10;
}
.luna-sourceforge:before {
  content: "\f6f6";
  color: #535353;
}
.luna-sourcegraph:before {
  content: "\f6f7";
  color: #00b4f2;
}
.luna-spacemacs:before {
  content: "\f6f8";
  color: #9266cc;
}
.luna-spacex:before {
  content: "\f6f9";
  color: #005288;
}
.luna-sparkfun:before {
  content: "\f6fa";
  color: #e53525;
}
.luna-sparkpost:before {
  content: "\f6fb";
  color: #fa6423;
}
.luna-spdx:before {
  content: "\f6fc";
  color: #4398cc;
}
.luna-speakerdeck:before {
  content: "\f6fd";
  color: #396;
}
.luna-spectrum:before {
  content: "\f6fe";
  color: #7b16ff;
}
.luna-spotify2:before {
  content: "\f6ff";
  color: #1ed760;
}
.luna-spotlight:before {
  content: "\f700";
  color: #352a71;
}
.luna-spreaker:before {
  content: "\f701";
  color: #f5c300;
}
.luna-spring:before {
  content: "\f702";
  color: #6db33f;
}
.luna-sprint:before {
  content: "\f703";
  color: #ffce0a;
}
.luna-square3:before {
  content: "\f704";
}
.luna-squarespace:before {
  content: "\f705";
}
.luna-stackbit:before {
  content: "\f706";
  color: #3eb0fd;
}
.luna-stackexchange:before {
  content: "\f707";
  color: #1e5397;
}
.luna-stackoverflow1:before {
  content: "\f708";
  color: #fe7a16;
}
.luna-stackpath:before {
  content: "\f709";
}
.luna-stackshare:before {
  content: "\f70a";
  color: #0690fa;
}
.luna-stadia:before {
  content: "\f70b";
  color: #cd2640;
}
.luna-statamic:before {
  content: "\f70c";
}
.luna-staticman:before {
  content: "\f70d";
}
.luna-statuspage:before {
  content: "\f70e";
}
.luna-steam3:before {
  content: "\f70f";
}
.luna-steamworks:before {
  content: "\f710";
}
.luna-steem:before {
  content: "\f711";
  color: #4ba2f2;
}
.luna-steemit:before {
  content: "\f712";
  color: #06d6a9;
}
.luna-steinberg:before {
  content: "\f713";
  color: #c90827;
}
.luna-stencyl:before {
  content: "\f714";
  color: #8e1c04;
}
.luna-stitcher:before {
  content: "\f715";
}
.luna-storify:before {
  content: "\f716";
  color: #3a98d9;
}
.luna-storybook:before {
  content: "\f717";
  color: #ff4785;
}
.luna-strapi:before {
  content: "\f718";
  color: #2e7eea;
}
.luna-strava:before {
  content: "\f719";
  color: #fc4c02;
}
.luna-stripe:before {
  content: "\f71a";
  color: #008cdd;
}
.luna-strongswan:before {
  content: "\f71b";
  color: #e00033;
}
.luna-stubhub:before {
  content: "\f71c";
  color: #003168;
}
.luna-styled-components:before {
  content: "\f71d";
  color: #db7093;
}
.luna-styleshare:before {
  content: "\f71e";
}
.luna-stylus:before {
  content: "\f71f";
}
.luna-sublimetext:before {
  content: "\f720";
  color: #ff9800;
}
.luna-subversion:before {
  content: "\f721";
  color: #809cc9;
}
.luna-superuser:before {
  content: "\f722";
  color: #2eace3;
}
.luna-svelte:before {
  content: "\f723";
  color: #ff3e00;
}
.luna-svg1:before {
  content: "\f724";
  color: #ffb13b;
}
.luna-svgo:before {
  content: "\f725";
  color: #14b9ff;
}
.luna-swagger:before {
  content: "\f726";
  color: #85ea2d;
}
.luna-swarm:before {
  content: "\f727";
  color: #ffa633;
}
.luna-swift:before {
  content: "\f728";
  color: #fa7343;
}
.luna-symantec:before {
  content: "\f729";
  color: #fdb511;
}
.luna-symfony:before {
  content: "\f72a";
}
.luna-synology:before {
  content: "\f72b";
  color: #b6b5b6;
}
.luna-t-mobile:before {
  content: "\f72c";
  color: #e20074;
}
.luna-tableau:before {
  content: "\f72d";
  color: #e97627;
}
.luna-tails:before {
  content: "\f72e";
  color: #56347c;
}
.luna-tailwindcss:before {
  content: "\f72f";
  color: #38b2ac;
}
.luna-tapas1:before {
  content: "\f730";
  color: #ffce00;
}
.luna-teamviewer:before {
  content: "\f731";
  color: #0e8ee9;
}
.luna-ted:before {
  content: "\f732";
  color: #e62b1e;
}
.luna-teespring:before {
  content: "\f733";
  color: #39ace6;
}
.luna-telegram2:before {
  content: "\f734";
  color: #2ca5e0;
}
.luna-tencentqq:before {
  content: "\f735";
  color: #eb1923;
}
.luna-tencentweibo:before {
  content: "\f736";
  color: #20b8e5;
}
.luna-tensorflow:before {
  content: "\f737";
  color: #ff6f00;
}
.luna-teradata:before {
  content: "\f738";
  color: #f37440;
}
.luna-terraform:before {
  content: "\f739";
  color: #623ce4;
}
.luna-tesla:before {
  content: "\f73a";
  color: #c00;
}
.luna-themighty:before {
  content: "\f73b";
  color: #d0072a;
}
.luna-themoviedatabase:before {
  content: "\f73c";
  color: #01d277;
}
.luna-tidal:before {
  content: "\f73d";
}
.luna-tiktok:before {
  content: "\f73e";
}
.luna-timescale:before {
  content: "\f73f";
  color: #fdb515;
}
.luna-tinder:before {
  content: "\f740";
  color: #ff6b6b;
}
.luna-todoist:before {
  content: "\f741";
  color: #e44332;
}
.luna-toggl:before {
  content: "\f742";
  color: #e01b22;
}
.luna-topcoder:before {
  content: "\f743";
  color: #29a8e0;
}
.luna-toptal:before {
  content: "\f744";
  color: #3863a0;
}
.luna-tor:before {
  content: "\f745";
  color: #7e4798;
}
.luna-toshiba:before {
  content: "\f746";
  color: #f00;
}
.luna-trainerroad:before {
  content: "\f747";
  color: #e12726;
}
.luna-trakt:before {
  content: "\f748";
  color: #ed1c24;
}
.luna-travisci:before {
  content: "\f749";
  color: #3eaaaf;
}
.luna-treehouse:before {
  content: "\f74a";
  color: #5fcf80;
}
.luna-trello2:before {
  content: "\f74b";
  color: #0079bf;
}
.luna-trendmicro:before {
  content: "\f74c";
  color: #d71921;
}
.luna-tripadvisor1:before {
  content: "\f74d";
  color: #00af87;
}
.luna-trulia:before {
  content: "\f74e";
  color: #53b50a;
}
.luna-trustpilot:before {
  content: "\f74f";
  color: #00b67a;
}
.luna-tumblr3:before {
  content: "\f750";
  color: #36465d;
}
.luna-turkishairlines:before {
  content: "\f751";
  color: #c70a0c;
}
.luna-twilio:before {
  content: "\f752";
  color: #f22f46;
}
.luna-twitch2:before {
  content: "\f753";
  color: #6441a4;
}
.luna-twitter2:before {
  content: "\f754";
  color: #1da1f2;
}
.luna-twoo:before {
  content: "\f755";
  color: #ff7102;
}
.luna-typescript:before {
  content: "\f756";
  color: #007acc;
}
.luna-typo3:before {
  content: "\f757";
  color: #ff8700;
}
.luna-uber:before {
  content: "\f758";
}
.luna-ubereats:before {
  content: "\f759";
  color: #5fb709;
}
.luna-ubisoft:before {
  content: "\f75a";
}
.luna-ublockorigin:before {
  content: "\f75b";
  color: #800000;
}
.luna-ubuntu:before {
  content: "\f75c";
  color: #e95420;
}
.luna-udacity:before {
  content: "\f75d";
  color: #01b3e3;
}
.luna-udemy:before {
  content: "\f75e";
  color: #ec5252;
}
.luna-uikit:before {
  content: "\f75f";
  color: #2396f3;
}
.luna-umbraco:before {
  content: "\f760";
  color: #00bec1;
}
.luna-unity:before {
  content: "\f761";
}
.luna-unrealengine:before {
  content: "\f762";
}
.luna-unsplash:before {
  content: "\f763";
}
.luna-untappd:before {
  content: "\f764";
  color: #ffc000;
}
.luna-upwork:before {
  content: "\f765";
  color: #6fda44;
}
.luna-v:before {
  content: "\f766";
  color: #5d87bf;
}
.luna-v8:before {
  content: "\f767";
  color: #4b8bf5;
}
.luna-vagrant:before {
  content: "\f768";
  color: #1563ff;
}
.luna-valve:before {
  content: "\f769";
  color: #f74843;
}
.luna-veeam:before {
  content: "\f76a";
  color: #00b336;
}
.luna-venmo:before {
  content: "\f76b";
  color: #3d95ce;
}
.luna-verizon:before {
  content: "\f76c";
  color: #cd040b;
}
.luna-viadeo1:before {
  content: "\f76d";
  color: #f88d2d;
}
.luna-viber:before {
  content: "\f76e";
  color: #665cac;
}
.luna-vim:before {
  content: "\f76f";
  color: #019733;
}
.luna-vimeo3:before {
  content: "\f770";
  color: #1ab7ea;
}
.luna-vine2:before {
  content: "\f771";
  color: #11b48a;
}
.luna-virb:before {
  content: "\f772";
  color: #0093da;
}
.luna-visa:before {
  content: "\f773";
  color: #142787;
}
.luna-visualstudio:before {
  content: "\f774";
  color: #5c2d91;
}
.luna-visualstudiocode:before {
  content: "\f775";
  color: #007acc;
}
.luna-vk2:before {
  content: "\f776";
  color: #4680c2;
}
.luna-vlcmediaplayer:before {
  content: "\f777";
  color: #f80;
}
.luna-vodafone:before {
  content: "\f778";
  color: #e60000;
}
.luna-volkswagen:before {
  content: "\f779";
  color: #151f5d;
}
.luna-vsco:before {
  content: "\f77a";
}
.luna-vue-dot-js:before {
  content: "\f77b";
  color: #4fc08d;
}
.luna-w3c:before {
  content: "\f77c";
  color: #005a9c;
}
.luna-wattpad:before {
  content: "\f77d";
  color: #f68d12;
}
.luna-waze:before {
  content: "\f77e";
  color: #333665;
}
.luna-weasyl:before {
  content: "\f77f";
  color: #900;
}
.luna-webauthn:before {
  content: "\f780";
  color: #3423a6;
}
.luna-webcomponents-dot-org:before {
  content: "\f781";
  color: #29abe2;
}
.luna-webmin:before {
  content: "\f782";
  color: #7da0d0;
}
.luna-webpack:before {
  content: "\f783";
  color: #8dd6f9;
}
.luna-webstorm:before {
  content: "\f784";
}
.luna-wechat1:before {
  content: "\f785";
  color: #7bb32e;
}
.luna-whatsapp2:before {
  content: "\f786";
  color: #25d366;
}
.luna-wheniwork:before {
  content: "\f787";
  color: #51a33d;
}
.luna-whitesource:before {
  content: "\f788";
  color: #161d4e;
}
.luna-wii:before {
  content: "\f789";
  color: #8b8b8b;
}
.luna-wiiu:before {
  content: "\f78a";
  color: #8b8b8b;
}
.luna-wikipedia1:before {
  content: "\f78b";
}
.luna-windows2:before {
  content: "\f78c";
  color: #0078d6;
}
.luna-wire:before {
  content: "\f78d";
}
.luna-wireguard:before {
  content: "\f78e";
  color: #88171a;
}
.luna-wish:before {
  content: "\f78f";
  color: #2fb7ec;
}
.luna-wix:before {
  content: "\f790";
  color: #faad4d;
}
.luna-wolfram:before {
  content: "\f791";
  color: #d10;
}
.luna-wolframlanguage:before {
  content: "\f792";
  color: #d10;
}
.luna-wolframmathematica:before {
  content: "\f793";
  color: #d10;
}
.luna-wordpress2:before {
  content: "\f794";
  color: #21759b;
}
.luna-workplace:before {
  content: "\f795";
}
.luna-wpengine:before {
  content: "\f796";
  color: #40bac8;
}
.luna-write-dot-as:before {
  content: "\f797";
  color: #5bc4ee;
}
.luna-x-dot-org:before {
  content: "\f798";
  color: #f28834;
}
.luna-x-pack:before {
  content: "\f799";
  color: #005571;
}
.luna-xamarin:before {
  content: "\f79a";
  color: #4393d4;
}
.luna-xbox:before {
  content: "\f79b";
  color: #107c10;
}
.luna-xcode:before {
  content: "\f79c";
  color: #1575f9;
}
.luna-xdadevelopers:before {
  content: "\f79d";
  color: #f59812;
}
.luna-xero:before {
  content: "\f79e";
  color: #13b5ea;
}
.luna-xfce:before {
  content: "\f79f";
  color: #2284f2;
}
.luna-xiaomi:before {
  content: "\f7a0";
  color: #fa6709;
}
.luna-xing3:before {
  content: "\f7a1";
  color: #006567;
}
.luna-xmpp:before {
  content: "\f7a2";
  color: #002b5c;
}
.luna-xrp:before {
  content: "\f7a3";
  color: #25a768;
}
.luna-xsplit:before {
  content: "\f7a4";
  color: #0095de;
}
.luna-yahoo3:before {
  content: "\f7a5";
  color: #6001d2;
}
.luna-yamahacorporation:before {
  content: "\f7a6";
  color: #4b1e78;
}
.luna-yamahamotorcorporation:before {
  content: "\f7a7";
  color: #e60012;
}
.luna-yammer:before {
  content: "\f7a8";
  color: #0072c6;
}
.luna-yandex:before {
  content: "\f7a9";
  color: #f00;
}
.luna-yarn:before {
  content: "\f7aa";
  color: #2c8ebb;
}
.luna-ycombinator:before {
  content: "\f7ab";
  color: #f0652f;
}
.luna-yelp2:before {
  content: "\f7ac";
  color: #d32323;
}
.luna-youtube3:before {
  content: "\f7ad";
  color: #f00;
}
.luna-zalando:before {
  content: "\f7ae";
  color: #ff6900;
}
.luna-zapier:before {
  content: "\f7af";
  color: #ff4a00;
}
.luna-zeit:before {
  content: "\f7b0";
}
.luna-zend:before {
  content: "\f7b1";
  color: #0679ea;
}
.luna-zendesk:before {
  content: "\f7b2";
}
.luna-zendframework:before {
  content: "\f7b3";
  color: #68b604;
}
.luna-zeromq:before {
  content: "\f7b4";
  color: #df0000;
}
.luna-zerply:before {
  content: "\f7b5";
  color: #9dbc7a;
}
.luna-zhihu:before {
  content: "\f7b6";
  color: #0084ff;
}
.luna-zillow:before {
  content: "\f7b7";
  color: #0074e4;
}
.luna-zingat:before {
  content: "\f7b8";
  color: #009cfb;
}
.luna-zoom:before {
  content: "\f7b9";
  color: #2d8cff;
}
.luna-zorin:before {
  content: "\f7ba";
  color: #0cc1f3;
}
.luna-zulip:before {
  content: "\f7bb";
  color: #52c2af;
}
